{% extends "layout.html" %}

{% block content %}

<div class="row">
    <div class="shadow-lg p-3 mb-5 bg-body rounded">
        <div class="col">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Settings
            </button>
            <br>
            <br>
            Randomly distributed fog nodes.
            <br>
            Total Nodes: {{totalnodes}}
            <br>
            (x,y)
            <br>
            <svg id="my_dataviz" width="{{x}}" height="{{y}}"></svg>
        </div>
    </div>
</div>
{% endblock %}