<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PuddleOS</title>
    <script src="https://cdn.jsdelivr.net/npm/pace-js@latest/pace.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pace-js@latest/pace-theme-default.min.css">
    <style>
    .links line {
        stroke: #999;
        stroke-opacity: 0.6;
    }

    .nodes circle {
        stroke: #fff;
        stroke-width: 1.5px;
    }

    svg {
        border:1px solid black;
    }



    </style>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>PuddleOS</title>
</head>
<body>
<div class="modal fade" id="settingsModal" tabindex="-1" aria-labelledby="settingsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="settingsModalLabel">Settings</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                
                <form action="/createjson" method="post">
                    <input value={{layers_count}} name="layer_count" id="layerCount" hidden></input>
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Layer #</th>
                            <th scope="col">Display</th>
                            <th scope="col">Clustering Method</th>
                            <th scope="col">Puddles</th>
                            <th scope="col"># of Nodes</th>
                            <th scope="col">Color</th>
                            <th scope="col">Size</th>
                            <th scope="col">Randomize Nodes</th>
                            <th scope="col">Delete Layer</th>
                        </tr>
                        </thead>
                        <tbody id="layerTableBody">
                        {% if layers_count %}
                        {% for i in range(1, layers_count+1) %}
                        <tr class="saveMenuItem">
                            <th scope="row">{{i}}</th>
                            <td>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch"
                                           id="nodeDisplay{{i}}id" name="nodeDisplay{{i}}" {{layer_displays[i-1]}}>
                                </div>
                            </td>
                            <td>
                                <div class="input-group mb-3">
                                    <select class="form-select" id="layer{{i}}ClusteringMethodId"
                                            name="layer{{i}}ClusteringMethod">
                                        {{layer_clusterings[i-1] | safe}}
                                    </select>
                                </div>
                            </td>
                            <td>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch"
                                           id="puddleDisplay{{i}}id" name="puddleDisplay{{i}}" {{layer_puddle_displays[i-1]}}>
                                </div>
                            </td>
                            <td><input type="number" class="form-control" id="layer{{i}}id" name="layer{{i}}"
                                       aria-describedby="layer{{i}}Help"
                                       value={{layer_totals[i-1]}}
                                       data-bs-toggle="tooltip" data-bs-placement="top"
                                       title="NOTE: Changing the number of nodes will also randomize them."
                                       required></td>
                            <td><input type="color" class="form-control form-control-color" id="layer{{i}}colorid"
                                       name="colorInput{{i}}"
                                       value={{layer_colors[i-1]}} title="Choose your color"></td>
                            <td><input type="number" class="form-control" id="layer{{i}}sizeid" name="layer{{i}}size"
                                       aria-describedby="layer1sizeHelp"
                                       value={{layer_sizes[i-1]}}
                                       required></td>
                            <td>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch"
                                           id="randomizeLayer{{i}}id" name="randomizeLayer{{i}}">
                                </div>
                            </td>
                            <td><button type="button" class="btn btn-danger deleteLayerBtn" value={{i}} id="deleteBtn{{i}}">X</button></td>
                        </tr>
                        {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>
                    <div class="input-group">
                        <span class="input-group-text">x (latitude)</span>
                        <input type="number" aria-label="x" class="form-control" id="xid" name="x"
                               value={{x}}
                               required
                               data-bs-toggle="tooltip" data-bs-placement="top" title="Enter the value for x">
                        <span class="input-group-text">y (longitude)</span>
                        <input type="number" aria-label="y" class="form-control" id="yid" name="y"
                               value={{y}}
                               required
                               data-bs-toggle="tooltip" data-bs-placement="top" title="Enter the value for y">
                        <span class="input-group-text">z</span>
                        <input type="number" aria-label="z" class="form-control" id="zid" name="z"
                               value={{z}}
                               required
                               data-bs-toggle="tooltip" data-bs-placement="top" title="Enter the value for z">
                    </div>
                    <div class="modal-footer">
                        <p class="text-secondary">*Higher layer nodes should be depicted with a larger size vertices
                            to represent their larger resource capacities.</p>
                        <div>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" id="addLayerBtn" class="btn btn-primary">Add Layer</button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="saveDataModal" tabindex="-1" aria-labelledby="saveDataModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="saveDataModalLabel">Save data to MongoDB</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/database/save" method="post" class="d-flex flex-column gap-3">
                    <div class="input-group">
                        <span class="input-group-text">Name</span>
                        <input type="text" aria-label="Dataset Name" class="form-control" id="name-id" name="name"
                                placeholder="My Dataset"
                                required
                                data-bs-toggle="tooltip" data-bs-placement="top" title="Enter the name of the dataset">
                    </div>
                    <div class="input-group">
                        <span class="input-group-text">Author</span>
                        <input type="text" aria-label="Author" class="form-control" id="author-id" name="author"
                                placeholder="John Doe"
                                required
                                data-bs-toggle="tooltip" data-bs-placement="top" title="Enter the value for author">
                            </div>
                    <div class="input-group">
                        <span class="input-group-text">Description</span>
                        <textarea type="text" class="form-control" id="description-id" name="description"
                                  placeholder="Enter a description of the dataset"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save to Database</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="index">PuddleOS</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="log">Log</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="nodedata">Node Data</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="linkdata">Link Data</a>
                </li>
            </ul>
        </div>
        <div class="d-flex gap-2">
            <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#saveDataModal" hidden> Save Data</button>
            <button type="button" class="btn btn-secondary" onclick="alert('Not yet implemented.')" hidden>Load Data</button>
        </div>
    </div>
</nav>
{% block content %}{% endblock %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="d3js"></script>
<script src="static/layerhandle.js"></script>
<script>
// select the svg area
var svg = d3.select("#my_dataviz")

// variable for y minus 10 in order to display the 0,0
var yminus = {{y}}-10

// variable for x minus 10 in order to display the 0,0
var xminus = {{x}}-75

// variable for x minus 10 in order to display the 0,0
var xyminus = {{x}}-65

// Legend for the 0,y display
svg.append("text").attr("x", 0).attr("y", 10).text("(0,0)").style("font-size", "15px").attr("alignment-baseline","middle")

// Legend for the 0,0 display
svg.append("text").attr("x", 0).attr("y", yminus).text("(0,{{y}})").style("font-size", "15px").attr("alignment-baseline","middle")

// Legend for the x,0 display
svg.append("text").attr("x", xminus).attr("y", yminus).text("({{x}},{{y}})").style("font-size", "15px").attr("alignment-baseline","middle")

// Legend for the x,y display
svg.append("text").attr("x", xyminus).attr("y", 10).text("({{x}},0)").style("font-size", "15px").attr("alignment-baseline","middle")



</script>
<script>
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
  return new bootstrap.Tooltip(tooltipTriggerEl)
})



</script>
<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
        <span class="text-muted">{{year}}, Auburn University</span>
    </div>
</footer>
</body>
</html>